*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body
{
    font-family: 'Poppins',sans-serif;
    color: #183b56;

}
p
{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color: #577592;
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    color: #4fb3d4;
    display: inline-block;
}

h2
{
    color: #183b56;
    text-align: center;
    font-weight: bold;
    margin: 20px;
}

.small-text
{
    font-size: 1rem;
}
.container
{
    max-width: 1180px;
    margin-inline: auto;
}

.banner-text
{
    color: white;
    padding: 15px 30px;
    text-align: center;
}

.top-banner
{
    background-color: #4fb3d4;
}

.navi
{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: end;
}

.heading
{
    text-align: center;
}

.content
{
    display: flex;
    flex-direction: row;

}

.card
{
    height: 200px;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    transition: 0.5s ease-out;
}



img
{
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

/* #aero
{
    background-image: url("images/headerimg.webp");
    background-size: cover;
} */

a:hover
{
    color: #183b56;

}

.card:hover
{
    opacity: 80%;
    box-shadow:3px 3px 10px black;
   
}